body {

    font-family: 'Roboto', sans-serif;

    text-align: center;

    box-sizing: border-box;
    

}

.hamburguer{
    display: none;
}

#menu-h{
    background-color: rgb(37, 37, 39);
}

#menu-h ul {
    max-width:2000px;
    list-style: none;
    padding: 0;
    text-align: center;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
    border-radius: 10px;
}

#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}

#menu-h ul li:last-child a {
    float: right;
    background-color: rgb(24, 139, 233);
}



.justify-center button{
    background-color: transparent;
    border:none;
    color: #fff;
    padding: 20px;
    font-size: 12pt;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    
}

.justify-center button:hover{
    background-color: rgb(24, 139, 233);
    color: #fff;
}

.justify-center{
    justify-content: center;
    display: inline;
    display: inline-block;
}

 

form {

    margin: 20px auto;

    max-width: 400px;

    padding: 20px;

    border: 1px solid #ccc;

    border-radius: 5px;

    background-color: #33333325;

    padding: 30px;

    border-radius: 4%;

    box-shadow: 3px 3px 1px 0px #00000060;

    width: 400px;

}


h1{
    text-align: center;
    margin-bottom: 20px;
    color: #272262;
}
 

textarea {

    display: block;

    margin-bottom: 10px;

}

 

button {

    background-color: #007BFF;

    color: white;

    border: none;

    padding: 10px 20px;

    border-radius: 5px;

    cursor: pointer;

}

 

button:hover {

    background-color: #0056b3;

}

 

#listaRemedios {

    margin-top: 30px;

    text-align: center;
    margin-bottom: 20px;
    color: #272262;

    

}


input{
    width: 100%;
    padding: 5px 5px;
    display: block;
    border: 0;
    border-bottom: 2px solid #272262;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    margin-bottom: 10px;
    position: relative;
    margin: 0 auto;
}





label{

    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;

    margin-bottom: 10px;
    
}


img{

    height: 300px;
    width: 300px;
    border-radius: 100%;
    display: flex;
    justify-content: flex-start;
    position:fixed;
}


.justify button{
    background-color: red;
    border-color: #ff000080;
    color: white;
    padding: 7px;
    font-weight: bold;
    font-size: 13pt;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    transition: all 0.4s ease-out;
    position: fixed;
    margin: 2%;
}

.justify button:hover{
    background-color: #ff000080;
    color: #fff;
}

.justify{
    justify-content: center;
    display: flex;
}

@media (max-width: 600px){
    #logado{
        font-size: 20px;
    }

    .hamburguer{
        display:block;
    }

    .material-symbols-outlined{
        color: #fff;
        text-align: center;
        width: 100%;
        padding: 10px;
        background-color: #000000;
    }
    
    .material-symbols-outlined:hover{
        background-color: #0056b3;
        color: #fff;
    }

    #menu-h{
        display: none;
    }

    .logo{
        display: none;
    }

    #remedioForm{
        max-width: 300px;
        padding-bottom: 10px;
    }
}