@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #1C1C1C;
}

.hamburguer{
    display: none;
}

#menu-h{
    background-color: rgb(37, 37, 39);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

footer{
    color: #fff;
    margin-left: 15%;
    
}

#menu-h ul li a {
    list-style: none;
    margin-top: 20px;
    padding: 10px 100px 10px 20px;
    display: block;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    border-radius: 10px;
    color: #FFF;
    cursor: pointer;
}

#menu-h img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 25%;
}


#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}


.justify-center button{
    background-color: transparent;
    padding: 0 100px 10px 20px;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    border-radius: 10px;
    color: #FFF;
}

.justify-center{
    justify-content: center;
    display: inline;
    display: inline-block;
}


.justify{
    background-color: red;
    border-color: #ff000080;
    color: white;
}

.justify:hover{
    background-color: #ff000080;
    color: #fff;
}

form {
    text-align: center;

    margin: 20px auto;

    max-width: 400px;

    padding: 20px;

    border: 1px solid #ccc;

    border-radius: 5px;

    padding: 30px;

    border-radius: 4%;

    box-shadow: 3px 3px 1px 0px #00000060;

    width: 400px;

    background-color: #fff;

}


h1{
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}
 

textarea {

    display: block;

    margin-bottom: 10px;

}

 

button {

    background-color: #007BFF;

    color: white;

    border: none;

    padding: 10px 20px;

    border-radius: 5px;

    cursor: pointer;

}

 

button:hover {

    background-color: #0056b3;

}

 

#listaRemedios {

    margin-top: 30px;

    text-align: center;
    margin-bottom: 20px;
    color: #272262;

    

}


input{
    width: 100%;
    padding: 5px 5px;
    display: block;
    border: 0;
    border-bottom: 2px solid #272262;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    margin-bottom: 10px;
    position: relative;
    margin: 0 auto;
}





label{

    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;

    margin-bottom: 10px;
    
}






@media (max-width: 600px){
    #logado{
        font-size: 20px;
    }

    .hamburguer{
        display:block;
    }

    .material-symbols-outlined{
        color: #fff;
        text-align: center;
        width: 100%;
        padding: 10px;
        background-color: #000000;
    }
    
    .material-symbols-outlined:hover{
        background-color: #0056b3;
        color: #fff;
    }

    #menu-h{
        display: none;
    }

    #remedioForm{
        max-width: 300px;
        padding-bottom: 10px;
    }
}