@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #1C1C1C;
}

header {

    color: #fff;

    text-align: center;

    padding: 10px;

}
::placeholder{
    font-size: 20px;
}

#informacoes{
    font-size: 20px;
}
 

#note-container {

    margin: 20px;

    padding: 10px;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    justify-content: center;

    display: block;

    margin-left: 30%;

    margin-right: 30%;

}

 

textarea {

    width: 100%;

    height: 40vh;

    border: none;

    outline: none;

    resize: none;

    background-color: #B0E0E6;

    border: 5px solid #E0FFFF;

    border-radius: 12px;

}

 

button {

    display: block;

    margin: 20px auto;

    padding: 10px 20px;

    background-color: #333;

    color: #fff;

    border: none;

    cursor: pointer;

}


.hamburguer{
    display: none;
}


#menu-h{
    background-color: rgb(37, 37, 39);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

footer{
    color: #fff;
    margin-left: 15%;
    
}

#menu-h ul li a {
    list-style: none;
    margin-top: 20px;
    padding: 10px 100px 10px 20px;
    display: block;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    border-radius: 10px;
    color: #FFF;
    cursor: pointer;
}

#menu-h img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 25%;
}


#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}


.justify-center button{
    background-color: transparent;
    padding: 0 100px 10px 20px;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    border-radius: 10px;
    color: #FFF;
}

.justify-center{
    justify-content: center;
    display: inline;
    display: inline-block;
}


.justify{
    background-color: red;
    border-color: #ff000080;
    color: white;
}

.justify:hover{
    background-color: #ff000080;
    color: #fff;
}


@media (max-width: 576px){
    #logado{
        font-size: 20px;
    }

    .hamburguer{
        display:block;
    }

    .material-symbols-outlined{
        color: #fff;
        text-align: center;
        width: 100%;
        padding: 10px;
        background-color: #000000;
    }
    
    .material-symbols-outlined:hover{
        background-color: #0056b3;
        color: #fff;
    }

    #menu-h{
        display: none;
    }
    .justify button{
        margin-top: 100px;
    }

    #note-container{
        margin: 0%;
    }
}