*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.tela-fundo{
    width: -50%;
    height: 500px;
    position:relative;
    justify-content: center;
    right: -300px;
}

.tela-lateral{
    width: -10%;
    height: 200px;
    position:relative;
    right: 300px;
    top: 295px;
}

.conteiner h1{
    text-align: center;
    margin-bottom: 20px;
    color: #272262;
}

.conteiner p{
    justify-content:flex-start;
    position: relative;
    padding-left: 80px;
    padding-right: 100px;
    text-align:left;
    margin-left: -10%;
    margin-right: 30%;
    font-size: 16px;
}

.conteiner{

    max-width: 1000px;

    padding: 20px;

    border: 1px solid #ccc;

    background-color: #ece9e925;

    padding: 30px;

    box-shadow: 3px 3px 1px 0px #00000060;

    margin-left: 23%;

    margin-right: 10%;

}


.logo{
    position: fixed;
    padding: 2px;
    z-index: 1;
    justify-content: flex-start;
    max-width: 20%;
    max-height: 45%;
    border-radius: 700px;
    margin: -50px;
    top: 54px;
}


#menu-h{
    background-color: rgb(37, 37, 39);
}

#menu-h ul {
    max-width:2000px;
    list-style: none;
    padding: 0;
    text-align: center;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
    border-radius: 10px;
}

#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}

#menu-h ul li:last-child a {
    float: right;
    background-color: rgb(24, 139, 233);
}


.justify-center button{
    background-color: transparent;
    border:none;
    color: #fff;
    padding: 20px;
    font-size: 12pt;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    
}

.justify-center button:hover{
    background-color: rgb(24, 139, 233);
    color: #fff;
}

.justify-center{
    justify-content: center;
    display: inline;
    display: inline-block;
}


.justify button{
    background-color: red;
    border-color: #ff000080;
    color: white;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    transition: all 0.4s ease-out;
    position: fixed;
    margin: 40%;
    z-index: 1;
}

.justify button:hover{
    background-color: #ff000080;
    color: #fff;
}

.justify{
    justify-content: center;
    display: flex;
}


button {

    background-color: #007BFF;

    color: white;

    border: none;

    padding: 10px 20px;

    border-radius: 5px;

    cursor: pointer;

}

 

button:hover {

    background-color: #0056b3;

}