@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.card{
    background-color: #33333325;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000060;
    width: 400px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: #272262;
}

.label-float input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #272262;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all 0.3s ease-out;
    border-radius: 0;
}

.label-float{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.label-float input:focus{
    border-bottom: 2px solid #4038a0;
}

.label-float label{
    color: #272262;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all 0.3s ease-out;
}

.label-float input:focus + label, 
.label-float input:valid + label{
    font-size: 13px;
    margin-top: 0;
    color: #4038a0;
}

.justify-center button{
    background-color: transparent;
    border-color: #272262;
    color: #272262;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 25px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all 0.4s ease-out;
}

.justify-center button:hover{
    background-color: #272262;
    color: #fff;
}

.justify-center{
    display: flex;
    justify-content: center;

}


img{
    position: fixed;
    padding: 2px;
    z-index: 1;
    justify-content: flex-start;
    max-width: 20%;
    max-height: 45%;
    border-radius: 700px;
    margin: -50px;
    top: 200px;
    right: 1300px;
  }


.fa-eye{
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: #272262;
}

#msgError{
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

#msgSuccess{
    text-align: center;
    color: #00bb00;
    background-color: #bbffbe;
    padding: 10px;
    border-radius: 4px;
    display: none;

}


.justify button{
    background-color: red;
    border-color: #ff000080;
    color: white;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    transition: all 0.4s ease-out;
    position: fixed;
    margin: 33%;
    top: 150px;
}

.justify button:hover{
    background-color: #ff000080;
    color: #fff;
}

.justify{
    justify-content: center;
    display: flex;
}

.voltar button{
    background-color: transparent;
    border-color: #272262;
    color: #272262;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 25px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all 0.4s ease-out;
}

.voltar button:hover{
    background-color: #272262;
    color: #fff;
}

.voltar{
    display: flex;
    justify-content: center;

}