@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#menu-h{
    background-color: rgb(37, 37, 39);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

footer{
    color: #fff;
    margin-left: 15%;
    
}

#menu-h ul li a {
    list-style: none;
    margin-top: 20px;
    padding: 10px 100px 10px 20px;
    display: block;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    border-radius: 10px;
    color: #FFF;
    cursor: pointer;
}

#menu-h img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 25%;
}


#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}


.justify{
    background-color: red;
    border-color: #ff000080;
    color: white;
}

.justify:hover{
    background-color: #ff000080;
    color: #fff;
}


.justify-center button{
    background-color: transparent;
    padding: 0 100px 10px 20px;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    border-radius: 10px;
    color: #FFF;
}

.justify-center{
    justify-content: center;
    display: inline;
    display: inline-block;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.card{
    background-color: #33333325;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000060;
    width: 400px;
}

.label-float input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #272262;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all 0.3s ease-out;
    border-radius: 0;
}

.label-float{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.label-float input:focus{
    border-bottom: 2px solid #4038a0;
}

.label-float label{
    color: #272262;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all 0.3s ease-out;
}

.label-float input:focus + label, 
.label-float input:valid + label{
    font-size: 13px;
    margin-top: 0;
    color: #4038a0;
}

.cadastrar button{
    background-color: transparent;
    border-color: #272262;
    color: #272262;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 25px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all 0.4s ease-out;
}

.cadastrar button:hover{
    background-color: #272262;
    color: #fff;
}

.cadastrar{
    display: flex;
    justify-content: center;

}


.fa-eye{
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: #272262;
}

#msgError{
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

#msgSuccess{
    text-align: center;
    color: #00bb00;
    background-color: #bbffbe;
    padding: 10px;
    border-radius: 4px;
    display: none;

}

.voltar button{
    background-color: transparent;
    border-color: #272262;
    color: #272262;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 25px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all 0.4s ease-out;
}

.voltar button:hover{
    background-color: #272262;
    color: #fff;
}

.voltar{
    display: flex;
    justify-content: center;

}

.hamburguer{
    display: none;
}







@media (max-width: 600px){
    #logado{
        font-size: 20px;
    }

    .hamburguer{
        display:block;
    }

    .material-symbols-outlined{
        color: #fff;
        text-align: center;
        width: 100%;
        padding: 10px;
        background-color: #000000;
    }
    
    .material-symbols-outlined:hover{
        background-color: #0056b3;
        color: #fff;
    }

    #menu-h{
        display: none;
    }
}