/* Reset básico */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}


.container img{
    width: 100%;
    height: auto;
}

header {
    background-color: rgba(161, 198, 251, 0.727);
    color: black;
    text-align: center;
    padding: 5px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    
}

.container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(121, 143, 255, 0.83); /* ou a cor que preferir */
    background-color: rgba(255, 255, 255, 0); /* fundo semitransparente */
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 70px;
}

.container p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 121, 121); /* ou a cor que preferir */
    background-color: rgba(255, 255, 255, 0); /* fundo semitransparente */
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 60px;
}

header li{
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    list-style: none;
    text-decoration: none;
    text-align: right;
    
}

header a{
    background-color: #f4f4f4;
    padding: 15px;
    padding-right: 30px;
    border-radius: 10px;
    text-decoration: none;
    font-size: larger;
    margin: 10px;
    text-align: center;
}

header .logo{
    text-align:center;
    background-color: #f8a1a1;
}

main {
    max-width: 1850px;
    margin: 20px auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

.intro{
    padding: 30px;
    text-align: center;
    font-size: 30px;
}

.features{
    background-color: #7c9afc;
    text-align: center;
    padding: 30px;
    font-size: 20px;
}

.why-choose{
    background-color: #f8a1a1;
    text-align: center;
    padding: 30px;
    font-size: 20px;
}

.contact{
    text-align: center;
    padding: 30px;
    font-size: 20px;
}

h2 {
    color: #4669db;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
}

.cta, .contact {
    background: #e2e2e2;
    padding: 15px;
    border-radius: 8px;
}

.cta p, .contact p {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #4669db;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}



@media (max-width: 1200px) {
    .container h1 {
        font-size: 3.5vw;
    }

    .container p {
        font-size: 2vw;
    }
}

@media (max-width: 992px) {
    .container h1 {
        font-size: 3vw;
    }

    .container p {
        font-size: 2vw;
    }
}

@media (max-width: 768px) {
    .container h1 {
        font-size: 2.5vw;
    }

    .container p {
        font-size: 2vw;
    }
}

@media (max-width: 576px) {
    .container h1 {
        font-size: 8vw;
        top: 20%;
        left: 50%;
    }

    .container p {
        font-size: 6vw;
        top: 40%;
        left: 50%;
    }

    footer{
        padding: 1px;
    }

    p{
        margin-bottom: 0rem;
    }
}