@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #1C1C1C;
}

.hamburguer{
    display: none;
}

#menu-h{
    background-color: rgb(37, 37, 39);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

footer{
    color: #fff;
    margin-left: 15%;
    
}

#menu-h ul li a {
    list-style: none;
    margin-top: 20px;
    padding: 10px 100px 10px 20px;
    display: block;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    border-radius: 10px;
    color: #FFF;
    cursor: pointer;
}

#menu-h img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 25%;
}


#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}


.justify-center button{
    background-color: transparent;
    padding: 0 100px 10px 20px;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    border-radius: 10px;
    color: #FFF;
}


.logo{
    position: fixed;
    padding: 2px;
    z-index: 1;
    justify-content: flex-start;
    max-width: 20%;
    max-height: 45%;
    border-radius: 700px;
    margin: -50px;
    top: 54px;
}

.justify{
    background-color: red;
    border-color: #ff000080;
    color: white;
}

.justify:hover{
    background-color: #ff000080;
    color: #fff;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
}


.button-nota {

    background-color: #000000;

    color: white;

    border: none;

    padding: 10px 20px;

    border-radius: 5px;

    cursor: pointer;

}

 

.button-nota:hover {

    background-color: #0056b3;

}



#listaRemedios {

    text-align: center;
    background-color: #c3c3c038;
    border: 1px solid #ccc;
    font-size: 20px;
    padding: 50px;
    justify-content: space-between;
    height: 600px;
    width: 400px;
    overflow: auto;
    
}

#listaRemedios h2{
    text-align: center;
    color: black;
    padding-bottom: 1px solid #333;
    text-decoration:underline;
}

.removerremedio{

    background-color: #000000;

    color: white;

    border: none;

    padding: 10px 20px;

    border-radius: 5px;

    cursor: pointer;
}


.removerremedio:hover{
    background-color: #0056b3;
}




.bordas{
    text-align: center;
    background-color: #c3c3c038;
    border: 1px solid #ccc;
    font-size: 20px;
    padding: 50px;
    justify-content: space-between;
    height: 600px;
    width: 400px;
    overflow: auto;
}

.bordas h2{
    text-align: center;
    color: black;
    padding-bottom: 1px solid #333;
    text-decoration:underline;
}

.bordnota{
    padding: 20px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000060;
    background-color: #B0E0E6;
    margin-top: 10%;
}

.notas{
    margin-bottom: 10px;
    padding: 5px;
    background-color: #c5c5bf38;
    border: 1px solid #ccc;
    text-align: start;
    right: 100px;
    top: 0;
}

.infoNota{
    padding: 20px;
    list-style:circle;
}


.bord{
    padding: 20px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000060;
    background-color: #DEB887;
    margin-top: 10%;
    margin-left: 30%;
}



.material-symbols-outlined{
    display: none;
}

.infoRemedio{
    padding: 20px;
    list-style:circle;
}




@media screen and (max-width:600px) {
    #logado{
        font-size: 20px;
    }

    .hamburguer{
        display:block;
    }

    .material-symbols-outlined{
        color: #fff;
        text-align: center;
        width: 100%;
        padding: 10px;
        background-color: #000000;
    }
    
    .material-symbols-outlined:hover{
        background-color: #0056b3;
        color: #fff;
    }

    #menu-h{
        display: none;
    }

    .bord{
        display: block;
        padding: 10px;
        width: 100%;
        text-align: center;
        margin: 0;
        justify-items: center;
        right: 0;
        padding-bottom: 20px;
    }

    .bordas{
        display: block;
        width: 100%;
        text-align: center;
        justify-items: center;
        background-color: #cbcbcb25;
    }

    .bordas h2{
        margin-bottom: 0;
    }

    .justify button{
        background-color: red;
        border-color: #ff000080;
        color: white;
        padding: 7px;
        font-weight: bold;
        font-size: 12pt;
        border-radius: 50px;
        cursor: pointer;
        outline: none;
        transition: all 0.4s ease-out;
        position: fixed;
        margin: -5%;
        right: 50%;
        top: 90%;
        
    }

    main{
        align-items: center;
        padding: 20px;
        display: block;
    }

    
   
}