@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h{
    background-color: rgb(37, 37, 39);
}

#menu-h ul {
    max-width:650px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
    border-radius: 10px;
}

#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}

#menu-h ul li:last-child a {
    float: right;
    background-color: rgb(24, 139, 233);
}

.justify-center button{
    background-color: transparent;
    border:none;
    color: #fff;
    padding: 20px;
    font-size: 12pt;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    
}

.justify-center button:hover{
    background-color: rgb(24, 139, 233);
    color: #fff;
}

.justify-center{
    justify-content: center;
    display: inline;
    display: inline-block;
}

.logo{
    position: fixed;
    padding: 2px;
    z-index: 1;
    justify-content: flex-start;
    max-width: 20%;
    max-height: 45%;
    border-radius: 700px;
    margin: -50px;
    top: 54px;
}

.justify button{
    background-color: red;
    border-color: #ff000080;
    color: white;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    transition: all 0.4s ease-out;
    position: fixed;
    margin: 33%;
    right: 16%;
}

.justify button:hover{
    background-color: #ff000080;
    color: #fff;
}

.justify{
    justify-content: center;
    display: flex;
}

/* .cartela{
    position:relative;
    padding: 10px;
    z-index: 1;
    justify-content:center;
    max-width: 50%;
    max-height: 0;
    margin: 30px;
    border-radius: 50%;
    top: -400px;
    min-width: 500px;
} */



button {

    background-color: #000000;

    color: white;

    border: none;

    padding: 10px 20px;

    border-radius: 5px;

    cursor: pointer;

}

 

button:hover {

    background-color: #0056b3;

}



#listaRemedios {

    text-align: center;
    justify-content: flex-start;
    background-color: #1f1f1e38;
    border: 1px solid #ccc;

}

li{

    font-size: 13pt;
    color: #272262;
    background-color: c5c5bf38;
    text-align: center;
}

.listaRemedios ul{
    margin-bottom: 10px;
    padding: 20px;
    text-align: start;
    margin-right: 10px;
    position:relative;
}

h2{
    text-align: center;
    margin-bottom: 20px;
    color: #272262;
    top:  0;
    left: 0;
}




.bordas{
    background-color: #33333325;
    padding: 20px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000060;
    width: 40%;
    float: right;
}

.notas{
    margin-bottom: 10px;
    padding: 5px;
    background-color: #c5c5bf38;
    border: 1px solid #ccc;
    text-align: start;
    right: 100px;
    top: 0;
}


.notas p{
    margin: 0;
    font-size: 16px;
    color: #333;
}

.bord{

    background-color: #33333325;
    padding: 20px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000060;
    width: 40%;
    float: left;
    margin-right: 10px;
    top: 0;
    left: 0;


}


.muda{
    text-align: center;
    justify-content: flex-start;
    background-color: #1f1f1e38;
    border: 1px solid #ccc;
}
