@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h{
    background-color: rgb(37, 37, 39);
}

#menu-h ul {
    max-width:650px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
}

#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}

#menu-h ul li:last-child a {
    float: right;
    background-color: rgb(24, 139, 233);
}

.justify-center button{
    background-color: transparent;
    border:none;
    color: #fff;
    padding: 20px;
    font-size: 12pt;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    
}

.justify-center button:hover{
    background-color: rgb(24, 139, 233);
    color: #fff;
}

.justify-center{
    justify-content: center;
    display: inline;
    display: inline-block;
}

.logo{
    position: fixed;
    padding: 2px;
    z-index: 1;
    justify-content: flex-start;
    max-width: 20%;
    max-height: 45%;
    border-radius: 700px;
    margin: -50px;
    top: 54px;
}

.justify button{
    background-color: red;
    border-color: #ff000080;
    color: white;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    transition: all 0.4s ease-out;
    position: fixed;
    margin: 33%;
    right: 16%;
}

.justify button:hover{
    background-color: #ff000080;
    color: #fff;
}

.justify{
    justify-content: center;
    display: flex;
}

/* .cartela{
    position:relative;
    padding: 10px;
    z-index: 1;
    justify-content:center;
    max-width: 50%;
    max-height: 0;
    margin: 30px;
    border-radius: 50%;
    top: -400px;
    min-width: 500px;
} */



button {

    background-color: #000000;

    color: white;

    border: none;

    padding: 10px 20px;

    border-radius: 5px;

    cursor: pointer;

}

 

button:hover {

    background-color: #0056b3;

}



#listaRemedios {

    text-align: center;
    justify-content: flex-start;
    background-color: #c3c3c038;
    border: 1px solid #ccc;
    font-size: 20px;

}

#listaRemedios h2{
    text-align: center;
    color: black;
    padding-bottom: 1px solid #333;
}




.bordas{
    background-color: #8b8b8b25;
    padding: 20px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000060;
    width: 40%;
    float: right;
}

.notas{
    margin-bottom: 10px;
    padding: 5px;
    background-color: #c5c5bf38;
    border: 1px solid #ccc;
    text-align: start;
    right: 100px;
    top: 0;
}



.bord{

    background-color: #cbcbcb25;
    padding: 20px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000060;
    width: 40%;
    float:left;
    margin-right: 10px;
    top: 0;
    left: 0;
    right: 20px;


}


.muda{
    margin-bottom: 10px;
    padding: 5px;
    background-color: #efefea38;
    border: 1px solid #ccc;
    text-align: center;
    right: 100px;
    top: 0;
    padding-bottom: 1px solid #333;
}

.material-symbols-outlined{
    display: none;
}



@media screen and (max-width:600px) {
    #logado{
        font-size: 20px;
    }

    .material-symbols-outlined{
        color: #fff;
        text-align: center;
        width: 100%;
        padding: 10px;
        background-color: #000000;
    }
    
    .material-symbols-outlined:hover{
        background-color: #0056b3;
        color: #fff;
    }

    #menu-h{
        display: none;
    }

    .bord{
        display: block;
        padding: 10px;
        width: 100%;
        text-align: center;
        margin: 0;
        justify-items: center;
        padding-bottom: 20px;
    }

    .bordas{
        display: block;
        padding: 10px;
        width: 100%;
        text-align: center;
        margin: 0;
        justify-items: center;
    }

    .justify{
        text-align: center;
        margin-bottom: 0px;
        margin: 0;
        justify-items: center;
        
    }
}