*{
    font-family:monospace;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.corpo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    padding: 70px;
    width: 450px;
    background: rgba(0,0 green,0 blue,0.75 alpha);
    margin: 25px 0 65px;
}

.corpo h2{
    color: black;
    font-size: 2rem;
}

.form-control1 input{
    height: 100%;
    width: 100%;
    background: #333;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1.5rem;
    padding: 0 20px;
}

.form-control1 input :is(:focus, :valid){
    background: #444;
    padding: 16px 20px 0;
}

.form-control1 label{
    position: absolute;
    left: 80px;
    top: 35%;
    transform: translateY(-35%);
    font-size: 1rem;
    pointer-events: none;
    color: #8c8c8c;
    transition: all 0.1s ease;
}

.form-control1 input :is(:focus, :valid) ~ label{
    font-size: 0.75rem;
    transform: translateY(-130%);
}

.corpo a{
    text-decoration: none;
}

.corpo a :hover{
    text-decoration: underline;
}

.corpo :where(label,p,a){
    color: #b3b3b3;
}

