*{
    font-family:monospace;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}

body{
    background-color: white;
}

body::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    opacity:0.5;
    width: 100%;
    height: 100%;
}


.corpo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    padding: 70px;
    width: 450px;
    background: rgba(0,0 green,0 blue,0.75 alpha);
    
}

.corpo h2{
    color: black;
    font-size: 2rem;
}

.corpo form{
    margin: 25px 0 65px;
}

.form-control1 input{
    height: 100%;
    width: 100%;
    background: #686767;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1.5rem;
    padding: 0 20px;
}


.form-control1 label{
    position: absolute;
    left: 30px;
    top: 25%;
    transform: translateY(-29%);
    font-size: 1rem;
    pointer-events: none;
    color: black;
    transition: all 0.1s ease;
    align-items: center;
}

.form-control1 input :is(:focus, :valid) ~ label{
    font-size: 0.8rem;
    transform: translateY(-130%);
}

.corpo a{
    text-decoration: none;
}

.corpo a :hover{
    text-decoration: underline;
}

.corpo :where(label,p,a){
    color: #333;
}

.corpo p a {
    color:blue;
}


.form-control2 input{
    height: 100%;
    width: 100%;
    background: #686767;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1.5rem;
    padding: 0 20px;
}


.form-control2 label{
    position: absolute;
    left: 30px;
    top: 33%;
    transform: translateY(-37%);
    font-size: 1rem;
    pointer-events: none;
    color: black;
    transition: all 0.1s ease;
}

.form-control2 input :is(:focus, :valid) ~ label{
    font-size: 0.8rem;
    transform: translateY(-130%);
}

form button{
    width: 100%;
    padding: 16px 0;
    font-size: 1rem;
    background: black;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    outline: none;
    margin: 25px 0 10px;
    cursor: pointer;
    transition: 0.1s ease;
}

form button:hover{
    background: red;
}



@media (max-width: 740px){
    body::before{
        display: none;
}

.corpo{
    width: 100%;
    top: 43%;
    
}

.corpo form{
    margin: 25px 0 40px;
}

}

form .remember-me{
    display: flex;
}

form .remember-me{
    margin-right: 5px;
    accent-color: blue;
}

form .ajuda :where(label, a){
    font-size: 0.9rem;
}

.corpo small{
    display: block;
    margin-top: 15px;
    color: black;
}

input[type="checkbox"]{
    --webkit-appearance: none;
    visibility: hidden;
    display: none;
    left: 100px;
    top: 50%;

}

.check{
    position: relative;
    display: block;
    width: 60px;
    height: 30px;
    background-color: #181818;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transform: ease-in 0.5s;

}

input[type="checkbox"]:checked ~.check{
    background-color: #add;
    box-shadow: 0 0 0 1200px black;
}

.check::before{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    background: #add;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: 0.5;

}

input[type="checkbox"]:checked ~ .check::before{
    transform: translateX(-50px);
}

.check::after{
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    background: #181818;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: 0.5;
    transform:translateX(50px);
}

input[type="checkbox"]:checked ~.check::after{
    transform: translateX(0px);
}